
# directories (by name)

_internal/

bin/
lib/

include/shwild/
include/xcontract/
include/xcover/
include/xtests/

src/shwild/
src/xcontract/
src/xcover/
src/xtests/

Debug/
DebugMt/
DebugDll/
Debug Multithreaded/
Debug Multithreaded Dll/
Release/
ReleaseMt/
ReleaseDll/
Release Multithreaded/
Release Multithreaded Dll/

UDebug/
UDebugMt/
URelease/
UReleaseMt/
Unicode Debug Multithreaded/
Unicode Debug Multithreaded Dll/
Unicode Release Multithreaded/
Unicode Release Multithreaded Dll/

x64/
Win32/

# directories (by pattern)

# files (by name)

logging-bailout.txt

# files (by pattern)

*~
*.a
*.app
*.dll
*.dylib
*.exe
*.gch
*.lib
*.ncb
*.o
*.obj
*.opensdf
*.opt
*.out
*.pch
*.pdb
*.sbr
*.scc
*.sdf
*.so
*.suo
*.vcproj.user
*.vcxproj.user

